.user {
  &__form {
    margin-bottom: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__button {
    margin-top: 20px;
    border: solid white 2px;
    border-radius: 15px;
    color: white;
    padding: 5px;
    text-decoration: none;
    width: 100px;
  }
}

.underconstruction {
  margin-top: 10px;
  animation-name: underConstruction;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes borderBottomInput {
  from {
    border-bottom-color: white;
  }
  50% {
    border-bottom-color: transparent;
  }
  to {
    border-bottom-color: white;
  }
}

@keyframes underConstruction {
  from {
    font-size: 14px;
  }
  50% {
    font-size: 16px;
  }
  to {
    font-size: 14px;
  }
}
